root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,rs}]
indent_size = 4

[*.nw]
indent_size = none

[{Cargo.lock,emacs.el}]
indent_size = none

[Makefile]
indent_style = tab

[VERSION]
insert_final_newline = false

[tests/echo/{dash_n,known_then_unknown}.stdout]
insert_final_newline = false
